{% load static %}
{% load crispy_forms_tags %}
{% load tailwind_filters %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block head_title %}
            FactuXpress
        {% endblock %}
    </title>


    <!-- HTMX -->
    <script src="{% static 'js/htmx.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>

    <link href="{% static 'src/style.css' %}" rel="stylesheet">

    {% block extra_head %}

    {% endblock %}
</head>
<body id="content" class="bg-slate-800 ">
    {% include 'invoicing/partial/navbar.html' %}
    <div class="p-4">

        {% block title %}
        {% endblock %}
        {% block content %}
        {% endblock %}
    </div>

    
</body>
</html>