{% extends 'invoicing/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load tailwind_filters %}

{% block title %}
    <h1 class="text-3xl bold bg-slate-600 p-2 mb-2 rounded">Gestion des articles</h1>
{% endblock title%}

{% block content %}
    <div class="flex bg-slate-500 p-2 my-2 rounded justify-between">
        <div>
           <button class="btn bg-green-400 text-green-800 mr-2 p-2 rounded shadow" type="button"
                   hx-get="{% url 'invoicing:create-item' %}"
                   hx-target="#content"
                   hx-swap="innerHTML"
                   hx-push-url="true">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                </svg>
                Ajouter
            </button>
            <button class="btn bg-orange-400 text-orange-800 mr-2 p-2 rounded shadow" type="button">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6.72 13.829c-.24.03-.48.062-.72.096m.72-.096a42.415 42.415 0 0 1 10.56 0m-10.56 0L6.34 18m10.94-4.171c.24.03.48.062.72.096m-.72-.096L17.66 18m0 0 .229 2.523a1.125 1.125 0 0 1-1.12 1.227H7.231c-.662 0-1.18-.568-1.12-1.227L6.34 18m11.318 0h1.091A2.25 2.25 0 0 0 21 15.75V9.456c0-1.081-.768-2.015-1.837-2.175a48.055 48.055 0 0 0-1.913-.247M6.34 18H5.25A2.25 2.25 0 0 1 3 15.75V9.456c0-1.081.768-2.015 1.837-2.175a48.041 48.041 0 0 1 1.913-.247m10.5 0a48.536 48.536 0 0 0-10.5 0m10.5 0V3.375c0-.621-.504-1.125-1.125-1.125h-8.25c-.621 0-1.125.504-1.125 1.125v3.659M18 10.5h.008v.008H18V10.5Zm-3 0h.008v.008H15V10.5Z" />
                </svg>
                Imprimer la liste
            </button>
        </div>
        <div>
            {% include 'invoicing/partial/items_filter.html' %}
        </div>

    </div>
    <table id="items_table" class="table-auto bg-slate-500 w-full rounded">
        <thead class="text-white uppercase">
            <tr>
                <th class="w-4 px-2 py-3">Groupé ?</th>
                <th class="w-4 px-2 py-3">Code rapide</th>
                <th class="w-64 px-2 py-3">Description</th>
                <th class="w-64 px-2 py-3">Remarque</th>
                <th class="w-4 px-2 py-3">Unité</th>
                <th class="w-4 px-2 py-3">P.U.</th>
                <th class="w-4 px-2 py-3"></th>
            </tr>
        </thead>
        <tbody class="bg-slate-900 ">
            {% for item in page_obj %}
                {% if item.is_a_group_item %}
                    <tr class="border-b hover:bg-slate-700 text-green-400">
                        <td class="p-2">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 text-green-400">
                                <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Zm13.36-1.814a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z" clip-rule="evenodd" />
                            </svg>
                        </td>
                        {% else %}
                    <tr class="border-b hover:bg-slate-700">
                        <td class="p-2">
                        </td>
                {% endif %}
                    <td class="p-2"><span class="font-black">{{item.fastcode}}</span></td>
                    <td class="w-64 p-2">{{item.description}}</td>
                    <td class="w-64 p-2">{{item.remark}}</td>
                    <td class="p-2 text-center">{{item.unity_of_measure.long_description}}</td>
                    <td class="p-2 text-right">{{item.unit_price}}</td>
                    <td class="p-2"> <!-- Modify -->
                        <svg hx-get="{% url 'invoicing:update-item' item.id %}"
                            hx-target="#content"
                            hx-swap="innerHTML"
                            hx-push-url="true"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 text-green-400 hover:cursor-pointer">
                          <path d="M21.731 2.269a2.625 2.625 0 0 0-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 0 0 0-3.712ZM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 0 0-1.32 2.214l-.8 2.685a.75.75 0 0 0 .933.933l2.685-.8a5.25 5.25 0 0 0 2.214-1.32l8.4-8.4Z" />
                          <path d="M5.25 5.25a3 3 0 0 0-3 3v10.5a3 3 0 0 0 3 3h10.5a3 3 0 0 0 3-3V13.5a.75.75 0 0 0-1.5 0v5.25a1.5 1.5 0 0 1-1.5 1.5H5.25a1.5 1.5 0 0 1-1.5-1.5V8.25a1.5 1.5 0 0 1 1.5-1.5h5.25a.75.75 0 0 0 0-1.5H5.25Z" />
                        </svg>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="pagination text-center mt-2">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a class="btn bg-blue-400 text-blue-800 rounded" href="?page=1">&laquo; first</a>
                <a class="btn bg-blue-400 text-blue-800 rounded" href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current font-bold">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a class="btn bg-blue-400 text-blue-800 rounded" href="?page={{ page_obj.next_page_number }}">next</a>
                <a class="btn bg-blue-400 text-blue-800 rounded" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock content%}